:root {
  --main-width: 4px;
  --main-color: #222;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.overlay {
  min-height: 100vh;
  position: relative;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 80%;
  position: relative;
  overflow: hidden;
}
.after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  z-index: 4;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}
@media (max-width: 767px) {
  .container {
    width: 95%;
  }
}
.row {
  display: flex;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
}
hr {
  border: 1px solid #ddd;
}
.game-info {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .game-info {
    flex-direction: column;
    gap: 10px;
  }
}
.game-info .game-name {
  font-size: 30px;
  color: #00a896;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  flex: 1;
}
.game-info .category {
  flex: 1;
  text-align: right;
  font-size: 24px;
  color: #00a896;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .game-info .game-name {
    font-size: 24px;
  }
  .game-info .category {
    font-size: 24px;
    text-align: center;
  }
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  /* height: 325px; */
}
.hangman-draw {
  display: flex;
  justify-content: center;
}
.hangman-draw .the-draw {
  width: 60px;
  height: 250px;
  border-bottom-style: solid;
  border-bottom-width: var(--main-width);
  border-bottom-color: #6c6c6c;
  position: relative;
}
.the-draw > *:not(.the-man) {
  opacity: 0.8;
}
.hangman-draw .the-draw .the-stand::before {
  content: '';
  position: absolute;
  width: var(--main-width);
  background-color: var(--main-color);
  height: 100%;
  left: 50%;
  margin-left: -2px;
  border-radius: 8px 8px 0 0px;
}
.hangman-draw .the-draw .the-hang::before {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  height: var(--main-width);
  width: 100px;

  left: 30px;
  border-radius: 0 8px 8px 0;
}
.hangman-draw .the-draw .the-hang::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  width: var(--main-width);
  height: 60px;
  max-width: 100%;
  left: 49px;
  transform: rotate(45deg);
  top: -7px;
  border-radius: 8px;
}
.hangman-draw .the-draw .the-rope {
  width: 60px;
  height: 60px;
  /* background-color: var(--main-color); */
  border-radius: 50%;
  position: absolute;
  left: 98px;
  top: 29px;
  border-color: var(--main-color);
  border-width: var(--main-width);
  border-style: dashed;
}
.hangman-draw .the-draw .the-rope::before {
  content: '';
  width: var(--main-width);
  background-color: var(--main-color);
  height: 30px;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
}
.hangman-draw .the-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--main-width) solid var(--main-color);
  position: absolute;
  left: 103px;
  top: 34px;
}
.hangman-draw .the-draw .the-man .head::before {
  content: '';
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 30%;
  left: 12px;
  width: 5px;
  height: 5px;
}
.hangman-draw .the-draw .the-man .head::after {
  content: '';
  border-radius: 50%;
  background-color: var(--main-color);
  position: absolute;
  top: 30%;
  right: 12px;
  width: 5px;
  height: 5px;
}
.hangman-draw .the-draw .the-man .head .moth {
  position: absolute;
  height: var(--main-width);
  height: 3px;
  width: 18px;
  background-color: var(--main-color);
  top: 63%;
  left: 12px;
  border-radius: 8px;
}
.hangman-draw .the-draw .the-man .body {
  background-color: var(--main-color);
  width: var(--main-width);
  height: 90px;
  border-radius: 8px;
  position: absolute;
  left: 126px;
  top: 80px;
}
.hangman-draw .the-draw .the-man .hends::before {
  content: '';
  width: 45px;
  position: absolute;
  height: var(--main-width);
  background-color: var(--main-color);
  left: 87px;
  top: 115px;
  transform: rotate(-30deg);
  border-radius: 8px;
}
.hangman-draw .the-draw .the-man .hends::after {
  content: '';
  width: 45px;
  position: absolute;
  height: var(--main-width);
  background-color: var(--main-color);
  left: 124px;
  top: 115px;
  transform: rotate(30deg);
  border-radius: 8px;
}
.hangman-draw .the-draw .the-man .legs::before {
  content: '';
  width: 45px;
  position: absolute;
  height: var(--main-width);
  background-color: var(--main-color);
  left: 87px;
  top: 177px;
  transform: rotate(-30deg);
  border-radius: 8px;
}
.hangman-draw .the-draw .the-man .legs::after {
  content: '';
  width: 45px;
  position: absolute;
  height: var(--main-width);
  background-color: var(--main-color);
  left: 124px;
  top: 177px;
  transform: rotate(30deg);
  border-radius: 8px;
}
.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}
.letters .letter-box {
  width: 55px;
  height: 55px;
  background-color: #00a896;
  color: #fff;
  font-size: 24px;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
@media (max-width: 767px) {
  .letters .letter-box {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
.letters .letter-box::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  transition: 0.2s;
}
.letters .letter-box:hover::after {
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.14),
    0px 0px 19px 14px rgba(0, 0, 0, 0.03), 0px 0px 26px 4px rgba(0, 0, 0, 0.14);
}
.letters-guess {
  display: flex;
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  justify-content: center;
  min-height: 104px;
}

.letters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #00a896;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .letters-guess span {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }
}
.letters-guess span.space {
  border: none;
  width: 20px;
  height: 2px;
}
.letter-box.cliked {
  background-color: #e91e63;
  pointer-events: none;
}
.letters-guess .chosen {
  color: #00a896;
}
.pop-win {
  background-color: white;
  border: 2px solid #32cd32;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  transition: 0.3s;
  z-index: 9;
}
.pop-win svg {
  width: 100px;
  padding: 15px;
  height: 100px;
  color: #32cd32;
  border: 2px solid #32cd32;
  border-radius: 50%;
}
.pop-win p {
  font-size: 36px;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
}
.pop-win span {
  font-size: 30px;
}
.pop-win span span {
  color: red;
}
@media (max-width: 767px) {
  .pop-win svg {
    width: 70px;
    height: 70px;
    padding: 10px;
  }
  .pop-win p {
    font-size: 24px;
  }
  .pop-win span {
    font-size: 18px;
  }
}
/*lose*/
.pop-lose {
  background-color: white;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  transition: 0.3s;
  z-index: 9;
}
.pop-lose svg {
  width: 100px;
  padding: 15px;
  height: 100px;
  color: #f00;
  border: 2px solid #f00;
  border-radius: 50%;
}
.pop-lose p {
  font-size: 36px;
  color: #333;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: bold;
}
.pop-lose span {
  font-size: 30px;
}
.pop-lose span span {
  color: #32cd32;
}
@media (max-width: 767px) {
  .pop-lose svg {
    width: 70px;
    height: 70px;
    padding: 10px;
  }
  .pop-lose p {
    font-size: 24px;
  }
  .pop-lose span {
    font-size: 18px;
  }
}
